.contato {
  margin: 120px auto;
  text-align: center;
}

.contato__dados {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin: 50px auto;
  text-align: left;
}

.localizacao::before {
  content: url("/assets/icons/localização.svg");
}

.telefone::before {
  content: url("/assets/icons/whats.svg");
}

.email::before {
  content: url("/assets/icons/mail.svg");
}

@media (max-width: 743px) {
  .contato {
    margin: 60px auto;
    text-align: left;
    max-width: 90%;
  }
  .contato__dados {
    flex-direction: column;
    max-width: 100%;
    gap: 20px;
  }
}
