/* Estilos da Hero Section */

.hero {
  margin-top: 0px;
  height: 100vh;
  width: 100%;
  background: url("/assets/img/bg-hero.webp") center / 100% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 135px;
}

/* Navegação mobile */

@media (max-width: 1023px) {
  .hero {
    text-align: center;
    justify-content: center;
    padding: 0;
  }
}
