.servicos {
  padding: 60px 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.servicos__textos {
  text-align: center;
  width: 70%;
}

.servicos__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 30px;
  max-width: 370px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 0 0 35px 30px;
}

/* Navegação mobile */

@media (max-width: 1024px) {
  .servicos {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 80%;
    gap: 30px;
  }

  .servicos__textos {
    text-align: left;
    width: 100%;
  }

  .servicos__cards {
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .card {
    margin: 0 auto;
  }
}

@media (max-width: 743px) {
  .servicos {
    max-width: 90%;
  }
}
