.sobre {
  display: flex;
  flex-direction: row-reverse;
  max-width: 80%;
  margin: 120px auto;
  gap: 200px;
}

.sobre__img {
  width: 100%;
  background: url("/assets/img/homem-aplicando-cimento-frente.webp") top / 100%
    no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

.sobre__texto {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.sobre__texto p {
  margin-bottom: 20px;
}

.sobre__texto a {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .sobre {
    margin: 60px auto;
    flex-direction: column;
    gap: 50px;
  }

  .sobre__img {
    min-height: 600px;
  }

  .sobre__texto {
    margin: 0 auto;
    justify-content: flex-start;
    width: 100%;
  }

  .sobre__texto a {
    margin-top: 20px;
  }
}
@media (max-width: 743px) {
  .sobre {
    max-width: 90%;
  }
}
