/* Estilos iniciais / padronização */
:root {
  --primary-text-color: #637381;
  --secondary-text-color: #3f2d43;
  --details-text-color: #ce8d55;
  --bg-cta-color: #a64468;
  --cta-color: #fff;
  --bg-color: #fff;

  --font-titles: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary-text-color);
  list-style: none;
}

html {
  font-family: var(--font-body);
}

body {
  max-width: 90rem;
  margin: 0 auto;
}

section {
  scroll-margin-top: 80px; /* ou o tamanho exato da altura do seu nav */
}

h1,
h2,
h3,
h4,
nav,
a {
  font-family: var(--font-titles);
}

h1 {
  color: var(--bg-color);
  font-size: 3.75rem;
  margin-bottom: 3rem;
}

h2 {
  color: var(--details-text-color);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: var(--bg-cta-color);
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

h4 {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
}

.btn {
  color: var(--cta-color);
  background-color: var(--bg-cta-color);
  font-weight: var(--font-weight-medium);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
}

a.btn:hover {
  background-color: var(--details-text-color);
  font-size: 1.2rem;
  transition: 0.5s ease;
}

/* Navegação mobile */

@media (max-width: 743px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
}
